<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>实体关系标注平台v2.0</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}">

  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

</head>

<body>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
      <nav class="mdc-persistent-drawer__drawer">
        <div class="mdc-persistent-drawer__toolbar-spacer">
          <a href="/main" class="brand-logo">
						<img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
					</a>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/main">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
                主页
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="/data">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                数据管理
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item" href="#" data-toggle="expansionPanel" target-panel="ui-sub-menu">
              <a class="mdc-drawer-link" href="#">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">colorize</i>
                数据标注
                <i class="mdc-drawer-arrow material-icons">arrow_drop_down</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="/task">
                        <i class="fa fa-list-alt fa-lg" style="margin-right: 12%"></i>
                      任务管理
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="/group">
                        <i class="fa fa-group fa-lg" style="margin-right: 12%"></i>
                      分组管理
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item" href="#" data-toggle="expansionPanel" target-panel="sample-page-submenu">
              <a class="mdc-drawer-link" href="#">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">insert_chart</i>
                数据分析
                <i class="mdc-drawer-arrow material-icons">arrow_drop_down</i>
              </a>
              <div class="mdc-expansion-panel" id="sample-page-submenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="/table_page">
                      <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
                      表格分析
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/403.html">
                      <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pie_chart_outlined</i>
                      图表分析
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/404.html">
                      <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">device_hub</i>
                      图谱分析
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="#">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">domain</i>
                词典管理
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="#">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">data_usage</i>
                模型管理
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item purchase-link">
              <a href="/download" class="mdc-button mdc-button--raised mdc-button--dense mdc-drawer-link" data-mdc-auto-init="MDCRipple">
                数据导出
              </a>
            </div>
          </nav>
        </div>
      </nav>
    </aside>
    <!-- partial -->
    <!-- partial:partials/_navbar.html -->
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="#" class="menu-toggler material-icons mdc-toolbar__menu-icon">menu</a>
          <span class="mdc-toolbar__input">
            <div class="mdc-text-field">
              <input type="text" class="mdc-text-field__input" id="css-only-text-field-box" placeholder="搜索">
            </div>
          </span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <div class="mdc-menu-anchor">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="notification-menu" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">notifications</i>
              <span class="dropdown-count">3</span>
            </a>
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="notification-menu">
              <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                <li class="mdc-list-item" role="menuitem" tabindex="0">
                  <i class="material-icons mdc-theme--primary mr-1">email</i>
                  One unread message
                </li>
                <li class="mdc-list-item" role="menuitem" tabindex="0">
                  <i class="material-icons mdc-theme--primary mr-1">group</i>
                  One event coming up
                </li>
                <li class="mdc-list-item" role="menuitem" tabindex="0">
                  <i class="material-icons mdc-theme--primary mr-1">cake</i>
                  It's Aleena's birthday!
                </li>
              </ul>
            </div>
          </div>
          <div class="mdc-menu-anchor">
            <a href="#" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">widgets</i>
            </a>
          </div>
          <div class="mdc-menu-anchor mr-1">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="logout-menu" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">more_vert</i>
            </a>
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="logout-menu">
                <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    欢迎您！  {{ current_user.username }}({{ current_user.role }})
                      <input type="hidden" id="user_role" value="{{ current_user.role }}"/>
                      <input type="hidden" id="user_name" value="{{ current_user.username }}"/>
                  </li>
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">settings</i>
                    Settings
                  </li>
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <i class="material-icons mdc-theme--primary mr-1">power_settings_new</i>
                    <a style="text-decoration: none" href="/logout">退出登录</a>
                  </li>
                </ul>
            </div>
          </div>
        </section>
      </div>
    </header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
					<div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card">
                                <section class="mdc-card__primary">
									<h1 class="mdc-card__title mdc-card__title--large">表格分析</h1>
								</section>
                                <section class="mdc-card__primary" style="padding-top: 0">
{#                                    <button class="mdc-button mdc-button--stroked" title="新建" id="new_task"><trans oldtip=" Baseline " newtip="基线"> 新建 </trans></button>#}
                                    <span>
                                        <strong style="font-size: 15px">文件选择</strong>
                                        <select class="shortselect file_path" style="width: 5%">
                                            <option></option>
                                            <option>一标</option>
                                            <option>二标</option>
                                            <option>三标</option>
                                        </select>
                                    </span>
                                    <span style="margin-left: 15px">
                                        <strong style="font-size: 15px">分组选择</strong>
                                        <select class="shortselect group" style="width: 5%">
                                            <option></option>
                                        </select>
                                    </span>
                                    <span style="margin-left: 15px">
                                        <strong style="font-size: 15px">查询条件</strong>
                                        <select class="shortselect con" style="width: 5%">
                                            <option></option>
                                            <option>按关系名称</option>
                                            <option>按子关系名称</option>
                                            <option>按实体类型</option>
                                            <option>按疾病名称</option>
                                        </select>
                                    </span>
                                    <div class="mdc-form-field" style="margin-left: 1%">
                                      <div class="mdc-checkbox">
                                        <input type="checkbox"
                                               id="my-checkbox"
                                               class="mdc-checkbox__native-control"/>
                                        <div class="mdc-checkbox__background">
                                          <svg class="mdc-checkbox__checkmark"
                                               viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark__path"
                                                  fill="none"
                                                  stroke="white"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                          </svg>
                                          <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                      </div>
                                  <label for="my-checkbox">去重</label>
                                </div>
                                    <strong style="font-size: 15px;margin-left: 10%" id="ccad">请选择查询条件！</strong>
                                    <button class="mdc-button mdc-button--stroked reset" title="重置查询" style="margin-left: 5%"><trans oldtip=" Baseline " newtip="基线"> 重置查询 </trans></button>
                                    <i title="全部导出" class="fa fa-download fa-lg dc" style="vertical-align: center;text-align: center;margin-left: 5%;cursor: pointer"></i>
                                    <div class="mdc-text-field" style="float: right">
                                            <input type="search" class="mdc-text-field__input" id="search_file" placeholder="搜索" oninput="search_input()">
                                        </div>
                                </section>
                <div class="template-demo">
                  <table class="table table-hoverable">
                    <thead>
                      <tr>
                        <th class="text-left">任务名称</th>
                          <th class="text-left">关系名称</th>
                          <th class="text-left">子关系</th>
                          <th class="text-left">实体1</th>
                          <th class="text-left">实体类型</th>
                          <th class="text-left">实体2</th>
                          <th class="text-left">实体类型</th>
                          <th class="text-left">关系属性</th>
                          <th class="text-left">源文件</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody id="main_body">
                    </tbody>
                  </table>
                    <span style="float: left;margin-top: 25px;margin-left: 15px"><h6><span id="result"></span></h6></span>
                    <ul class="pagination">
                    </ul>
                </div>
							</div>
						</div>
					</div>
				</div>
      </main>
      <!-- partial:../../partials/_footer.html -->
      <footer>
        <div class="mdc-layout-grid">
           <div class="mdc-layout-grid__inner">
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <span class="text-center">Copyright © 2018 <a class="text-green" href="#" target="_blank">实体关系标注平台v2.0</a>. All rights reserved.</span>
            </div>
          </div>
        </div>
      </footer>
      <!-- partial -->
    </div>
  </div>
  <!-- body wrapper -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='js/material-components-web.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
  <script src="{{ url_for('static', filename='js/material.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-confirm.js') }}"></script>
  <script src="{{ url_for('static', filename='js/table_page.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
  <script>
      gen_groups()
      get_table('1', '', '', '', '1', '')</script>
	<!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>